PORT=3001
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIRESTORE_EMULATOR_HOST=
FIREBASE_STORAGE_EMULATOR_HOST=
GOOGLE_APPLICATION_CREDENTIALS=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
JWT_SECRET=
SERVICE_AUTH_SECRET=
NODE_ENV=development
